# Database Configuration
POSTGRES_DB=resumeDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

# Spring Configuration
SPRING_PROFILES_ACTIVE=prod
JWT_SECRET=as9b7aodlbjfkluosfd789ujeklfnlsduf90b8ha908w74tuqijvlckajdl

# Kafka Configuration
KAFKA_TOPIC_ANALYSIS_JOB=RESUME.AI.ANALYSIS_JOB_TOPIC
KAFKA_TOPIC_SKILL_ANALYSIS_JOB=SKILL.AI.ANALYSIS_JOB_TOPIC

# AI Configuration
OLLAMA_API_KEY=your_ollama_api_key_here
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_MODEL=minimax-m2.5:cloud

# Deployment Configuration
SPRING_PROFILES_ACTIVE=prod
SPRING_DATA_REDIS_HOST=redis
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:19092
